.post {
    @extend .clearfix;

    .article {
        padding: 2rem;
    }

    &__image {
        display: block;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &--featured {
        @extend .post;
    }

    &__list {
        .article {
            @extend .clearfix;

            &__image {
                display: block;
                max-width: 100%;
                margin: 0 auto 2rem;
            }

            + .article {
                margin-top: 2rem;
                border-top: 1px solid $grey;
                padding-top: 2rem;
            }
        }

    }
}

@media screen and (min-width: 800px) {
    .post {

        &--featured {
            display: flex;
            padding-top: 50px;

            .post__image {
                width: 50%;
                display: block;
                height: auto;
            }

            .article {
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
                justify-content: center;
                padding: 4rem;
            }
        }

        &__list {
            .article {
                &__image {
                    float: left;
                    margin: 0 2rem 0 0;
                }
            }
        }
    }
}
