
.section {
    padding: 4rem 0;

    &--compact {
        @extend .section;
        padding: 2rem 0;
    }
}

.section--grey {
    background: $light-grey;
    border-top: 2px solid $dark-blue;
}

.section__title {
    color: $dark-blue;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 4rem;
    text-transform: uppercase;
}


@media screen and (min-width: 900px) {
    .section {
        padding: 6rem 0;

        &--compact {
            padding: 2rem 0;

            + .section {
                margin-top: -6rem;
            }
        }
    }
}
